<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ureca.unity.domain.stt.mapper.CounselingResultMapper">

    <resultMap id="CounselingResultMap" type="com.ureca.unity.domain.stt.model.CounselingResult">
        <id property="counselingResultId" column="counseling_result_id"/>
        <result property="userId" column="user_id"/>
        <result property="counselorId" column="counselor_id"/>
        <result property="counselingType" column="counseling_type"/>
        <result property="texts" column="texts"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findByCounselingId" resultMap="CounselingResultMap">
        SELECT *
        FROM counseling_result
        WHERE counseling_result_id = #{counselingResultId}
    </select>

    <select id="findById" resultMap="CounselingResultMap">
        SELECT *
        FROM counseling_result
        WHERE counseling_result_id = #{counselingResultId}
    </select>

    <insert id="insert"
            parameterType="com.ureca.unity.domain.stt.model.CounselingResult"
            useGeneratedKeys="true"
            keyProperty="counselingResultId">
        INSERT INTO counseling_result (
            user_id,
            counselor_id,
            counseling_type,
            status
        )
        VALUES (
                   #{userId},
                   #{counselorId},
                   #{counselingType},
                   #{status}
               )
    </insert>

    <update id="updateResult"
            parameterType="com.ureca.unity.domain.stt.model.CounselingResult">
        UPDATE counseling_result
        SET
            status = #{status},
            texts = #{texts}
        WHERE counseling_result_id = #{counselingResultId}
    </update>

</mapper>
