spring:
  application:
    name: unity

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 5000
      connection-init-sql: SELECT 1
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.ureca.unity.domain

server:
  port: 8080

logging:
  level:
    root: info
    com.ureca.unity: debug
    com.zaxxer.hikari.pool: info

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
